In [17]:
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
import pandas as pd
from scipy import stats
from pydataset import data
import numpy as np
import env
import matplotlib.pyplot as plt
import os
import prepare
import acquire
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report, confusion_matrix

In [18]:
telco_df = acquire.get_telco_data()
telco_df.head()

,Unnamed: 0,customer_id,payment_type_id,internet_service_type_id,contract_type_id,gender,senior_citizen,partner,dependents,tenure,...,signup_date,phone_service.1,multiple_lines.1,internet_service_type_id.1,online_security.1,online_backup.1,device_protection.1,tech_support.1,streaming_tv.1,streaming_movies.1
0,0,0002-ORFBO,2,1,2,Female,0,Yes,Yes,9,...,2021-04-21 18:07:34,Yes,No,1,No,Yes,No,Yes,Yes,No
1,1,0003-MKNFE,2,1,1,Male,0,No,No,9,...,2021-04-21 18:07:34,Yes,Yes,1,No,No,No,No,No,Yes
2,2,0004-TLHLJ,1,2,1,Male,0,No,No,4,...,2021-09-21 18:07:34,Yes,No,2,No,No,Yes,No,No,No
3,3,0011-IGKFF,1,2,1,Male,1,Yes,No,13,...,2020-12-21 18:07:34,Yes,No,2,No,Yes,Yes,No,Yes,Yes
4,4,0013-EXCHZ,2,2,1,Female,1,Yes,No,3,...,2021-10-21 18:07:34,Yes,No,2,No,No,No,Yes,Yes,No

In [19]:
def clean_telco(df):
    '''
    this function cleans up the telco db
    '''
    
    to_drop = ['customer_id','internet_service_type_id', 'internet_service_type_id.1', 'contract_type_id', 'payment_type_id', 'internet_service_type_id']
    df.drop(columns = to_drop, inplace = True)
    return df

telco_clean_df = clean_telco(telco_df)
telco_clean_df.head()

,Unnamed: 0,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,total_charges.1,signup_date,phone_service.1,multiple_lines.1,online_security.1,online_backup.1,device_protection.1,tech_support.1,streaming_tv.1,streaming_movies.1
0,0,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,593.3,2021-04-21 18:07:34,Yes,No,No,Yes,No,Yes,Yes,No
1,1,Male,0,No,No,9,Yes,Yes,No,No,...,542.4,2021-04-21 18:07:34,Yes,Yes,No,No,No,No,No,Yes
2,2,Male,0,No,No,4,Yes,No,No,No,...,280.85,2021-09-21 18:07:34,Yes,No,No,No,Yes,No,No,No
3,3,Male,1,Yes,No,13,Yes,No,No,Yes,...,1237.85,2020-12-21 18:07:34,Yes,No,No,Yes,Yes,No,Yes,Yes
4,4,Female,1,Yes,No,3,Yes,No,No,No,...,267.4,2021-10-21 18:07:34,Yes,No,No,No,No,Yes,Yes,No

In [7]:
telco_clean_df = telco_clean_df.drop(telco_clean_df.columns[0], axis = 1)

In [8]:
telco_clean_df.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,...,signup_date,phone_service.1,multiple_lines.1,internet_service_type_id.1,online_security.1,online_backup.1,device_protection.1,tech_support.1,streaming_tv.1,streaming_movies.1
0,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,...,2021-04-21 18:07:34,Yes,No,1,No,Yes,No,Yes,Yes,No
1,Male,0,No,No,9,Yes,Yes,No,No,No,...,2021-04-21 18:07:34,Yes,Yes,1,No,No,No,No,No,Yes
2,Male,0,No,No,4,Yes,No,No,No,Yes,...,2021-09-21 18:07:34,Yes,No,2,No,No,Yes,No,No,No
3,Male,1,Yes,No,13,Yes,No,No,Yes,Yes,...,2020-12-21 18:07:34,Yes,No,2,No,Yes,Yes,No,Yes,Yes
4,Female,1,Yes,No,3,Yes,No,No,No,No,...,2021-10-21 18:07:34,Yes,No,2,No,No,No,Yes,Yes,No